
.certify_cards .button
{

    height: 20px;
    width: 250px;

    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    background-color: rgb(214, 45, 230);
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.information{
    padding: 10px;
    position: fixed;
    text-align: center;
    color: black;
    top: 10%;
    font-size: 28px;
    background-color: #fff;
}

.resource_title 
{
    text-align: center;
    color: black;
    font-size: 30px;
}




.resource_cards{

    position: absolute;
    height: 30%;
    width: 60%;
    background-color: #416dbe;
    color: black;
    border-radius: 10px;
}


.resource_card_title
{
    height: 60px;
    width: 250px;
    background-color: rgb(38, 67, 84);
    text-align: center;
    padding-top: 5px;
    color: 	white;
    text-shadow: 0px 00px 20px black;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 10px;

}


.resource_cards
{
    position: relative;
    width: 250px;
    height: 350px;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow:3px 3px 15px grey;
    margin: 40px;
    

}

.logo {
    color: rgb(43, 43, 129);
    font-size: 30px;
  }
  
  .logo span {
    color: #F6AE2D;
  }

.resource_cards:hover
{
    position: relative;
    width: 250px;
    height: 350px;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 40px;
    box-shadow:10px 5px 15px;
    transition: .5s;
}

.resource_card_title{
    height: 60px;
    width: 250px;
    background-color: rgb(38, 67, 84);
    text-align: center;
    padding-top: 5px;
    color: 	white;
    text-shadow: 0px 00px 20px black;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 10px;

    
}

.description{
    position: absolute;
    height: 200px;
    width: 220px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button {
    position: absolute;
    height: 40px;
    width: 200px;
    top: 250px;
    left: 25px;
    color: black;
    background-color: rgb(255, 228, 181);
    border: 2px solid lightgreen;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
  }


button:hover
{
    position: absolute;
    background-color:black ;
    color: rgb(255, 228, 181);
    font-size: 15px;
    box-shadow: 5px 10px;
    border: 1px solid black;
    transition: .5s;
}

.button1 {
    position: absolute;
    height: 40px;
    width: 100px;
    top: 300px;
    left: 25px;
    color: white;
    background-color: #008CBA;
    border: 2px solid lightgreen;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
  }


.button1:hover
{
    position: absolute;
    background-color:black ;
    color: rgb(255, 228, 181);
    font-size: 15px;
    box-shadow: 5px 10px;
    border: 1px solid black;
    transition: .5s;
}



.button2 {
    position: absolute;
    height: 40px;
    width: 100px;
    top: 300px;
    left: 125px;
    color: white;
    background-color: #555555;
    border: 2px solid lightgreen;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
  }


.button2:hover
{
    position: absolute;
    background-color:black ;
    color: rgb(255, 228, 181);
    font-size: 15px;
    box-shadow: 5px 10px;
    border: 1px solid black;
    transition: .5s;
}


.des_image{
    margin-left: 20px;
}